<!DOCTYPE html>
<html lang="tr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/planets.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>

<body>




    <div class="container2 ">


        <!-- As a link -->
        <nav class="navbar">
            <a class="navbar-brand" href="/">Anasayfa</a>
            <a class="navbar-brand" href="/planets">Gezegenler</a>

        </nav>



    </div>

    <br><br><br>

    <div class="row justify-content-center ">

        <% planet.forEach(p=>{


            const planet = p.toJSON();
            console.log(planet.image);


            %>
            <div class="card  col-sm-6  ">
                <img class="card-img-top" src="<%=planet.image%>" >
                    <div class=" card-body">
                <h5 class="card-title text-center">
                  <a class="text-danger"  style="text-decoration: none;" href="/planets/<%=p.ad%>">  <%=p.ad%></a>
                </h5>
                <p class="card-text"> <%=p.baslik%>
                </p>
                <p class="card-text text-center">Hız: <small class="text-muted"><%=p.hız%></small></p>
                <p class="card-text text-center">Hacim: <small class="text-muted"><%=p.hacim%></small></p>
                <p class="card-text text-center">Kütle: <small class="text-muted"><%=p.kütle%></small></p>
                <p class="card-text text-center">Uydu sayısı: <small class="text-muted"><%=p.uydu%></small></p>

             
            </div>

            <br>
    </div>



    <% });%>
        </div>

</body>

</html>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>